<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = 'about'%>
    <% var active = " active"%>
  </head>
  <body>
    <% include header.ejs %>
    <div class = "container aboutContentAreaContainer">
      <h1> What is Super?</h1>
        <p>
          Superannuation is a way to save up money for your retirement days. The money will comes from contributions that are made into your super fund by your employer and preferably topped up with your own contribution. 
          Your employer is obliged to pay 9.5% of your salary into a super fund. You can add more to your super fund through various way, such as: salary sacrifice, after-tax contribution, government co-contribution and low income super contribution. 
          As time goes on, these contributions that comes from your employer and your own money will add up. Your super money is also used by super fund to invest to other things so it grows over time. When you reached the age of retirement, you will have money to live off. Super is a lifetime investment that gives you many benefits and security.
        </p>
      <h1> Misconceptions about super</h1>
        <p>
          There are various misconceptions about super. Lack of knowledge and information regarding super is the main cause of this problem. Some people even consider super as part of a tax and bring no benefit to them. However, it is not true. Superannuation is like preparing for a gift to yourself in the future! 
        </p>
      <h1> Benefits of the Super.</h1>
        <p>
          There are many benefits of contributing to your super. Other than ensuring you save up money for your retirement days, it can also enable you to save money from tax while boosting your super balance at the same time.
We have designed a calculator which enable you to understand the benefit of super. We have also visualised the data for through graphical representation for better understanding. Click here to see benefits of super.
        </p>
    </div>
    <% include footer.ejs %>
  </body>
</html>
