<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = "calculator"%>
    <% var active = " active"%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src = "/Scripts/CalculationsForClientSide.js"></script>
  </head>
  <body>
    <% include header.ejs %>
    <div class = "wrapperForCalculations">
      <div class = "totalIncomeBox">
      </div>
    </div>
    <% include footer.ejs %>
  </body>
  <script>
    document.getElementById("calculateButton").addEventListener("click",function(){
      //Get the salary and salary sacrifice..
      var salary = document.getElementById("salary").value;
      var salarySacrifice = document.getElementById("salarySacrifice").value;
      salary = parseInt(salary);
      salarySacrifice = parseInt(salarySacrifice);
      //for now we are using the hard coded flags but we need to use the radio buttons..
      CalculateStats(salary,salarySacrifice,1,0,DrawChart);
    });
  </script
</html>
