<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = "calculator"%>
    <% var active = " active"%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src = "/Scripts/CalculationsForClientSide.js"></script>
    <script src = "/Scripts/AnimationFunctions.js"></script>
  </head>
  <body>
    <% include header.ejs %>
    <div class = "wrapperForCalculations">
      <div class = "totalIncomeAndContributionBox">
        <div class = "labelForSalaryAndContribution">
          Total Income from Wages or Salary&#x2192
        </div>
        <div class = "inputForSalaryAndContribution">
          <input type = "number" id = "salary">
        </div>
        <div class = "dropDownBox">
          <select id = "flagSalary">
            <option value = "0">Monthly</option>
            <option value = "1">Annualy</option>
          </select>
        </div>
      </div>
      <div class = "totalIncomeAndContributionBox">
        <div class = "labelForSalaryAndContribution">
          Planned Salary Sacrifice Amount&#x2192
        </div>
        <div class = "inputForSalaryAndContribution">
          <input type = "number" id = "contribution">
        </div>
        <div class = "dropDownBox">
          <select id = "flagContribution">
            <option value = "0">Monthly</option>
            <option value = "1">Annualy</option>
          </select>
        </div>
      </div>
      <div class = "totalIncomeAndContributionBox">
        <div id = "calculateButton" class = "submitButtonOnCalculationsPage">
          Calculate
        </div>
      </div>
      <div style = "float:left;width:30%;color:royalBlue;height:500px;">
        <div class = "summaryInformation">
          By paying <span id = "paySuperPerYear"></span> super per year.
        </div>
        <div class = "summaryInformation">
          You take <span id = "lessNetSalary" style = "color:orangeRed;"></span> <span style = "color:orangered;">less</span> net salary home.
        </div>
        <div class = "summaryInformation">
          But you will have <span id = "moreSuperPerYear" style = "color:green;"></span> <span style = "color:green">more</span> super
        </div>
        <div class = "summaryInformation">
          And you will  pay <span id = "lessTax"></span> <span id = "lessOrMoreTaxTag"></span> tax and 
          <span id = "lessLevy" style = "color:green;"></span> <span style = "color:green">less</span> medical levy.
        </div>
      </div>
      <div id = "canvasWrapper" style= "float:left;height:500px;width:60%;">
        <canvas id = "myChart" height = "500" width = "500"></canvas>
      </div>
    </div>
  </body>
  <script>
    document.getElementById("calculateButton").addEventListener("click",function(){
      if(!CheckCalculatorInputsForErrors()){
        return;
      }
      //Get the salary and salary sacrifice..
      var salary = document.getElementById("salary").value;
      var salarySacrifice = document.getElementById("contribution").value;
      salary = parseInt(salary);
      salarySacrifice = parseInt(salarySacrifice);
      var flagSalary = parseInt(document.getElementById('flagSalary').value);
      var flagContribution = parseInt(document.getElementById('flagContribution').value);
      DestroyAndInsertNewCanvasElement((canvas)=>{
        //for now we are using the hard coded flags but we need to use the radio buttons
        CalculateStats(salary,salarySacrifice,flagSalary,flagContribution,DrawChart,canvas);
      });
      CalculateStats(salary,salarySacrifice,flagSalary,flagContribution,PopulateTheResultsOnCalculationPage,null);
    });
  </script
</html>
