<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = "calculator"%>
    <% var active = " active"%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src = "/Scripts/CalculationsForClientSide.js"></script>
  </head>
  <body>
    <% include header.ejs %>
    <div class = "container" style="width:50%;margin-left:7%;">
      <h1>About:</h1>
      <p>This calculator is a guide to teach the user that how much he can save if pays extra on the top of his
        super.</p>
      <h1>How to use:</h1>
      <p>Just enter your annual salary and how much salary sacrifice you would like to conttibute to your super. We will calculate the
        annual stats for you.</p>
      <div class ="container" style="width:100%;height:5%;margin-left:-3%;margin-top:5%;">
        <input id = "salary" style="width:200px" type="number" min = "0" class="form-control loginPageUserNameInputBox">
        <input id = "salarySacrifice" type="number" style="width:200px" type="number"min = "0" class="form-control loginPagePasswordInputBox">
        <button id = "calculateButton" class="btn-primary loginPageSubmitButton">Submit &#x2192</button>
      </div>
    </div>
    <div>
     <div class="container">
        <div>
          <canvas style = "display:none" id="myChart"></canvas>
        </div>
      </div>
    </div>
    <% include footer.ejs %>
  </body>
  <script>
    document.getElementById("calculateButton").addEventListener("click",function(){
      //Get the salary and salary sacrifice..
      var salary = document.getElementById("salary").value;
      var salarySacrifice = document.getElementById("salarySacrifice").value;
      salary = parseInt(salary);
      salarySacrifice = parseInt(salarySacrifice);
      //for now we are using the hard coded flags but we need to use the radio buttons..
      CalculateStats(salary,salarySacrifice,1,0,DrawChart);
    });
  </script
</html>
