<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = 'contactus'%>
    <% var active = " active"%>
  </head>
  <body>
    <% include header.ejs %>
    <div class = "container containerExtensionForContentArea" style="background-color:white;">
      <div class = "container" style="height:100%;width:50%;float:left;margin-left:5%;">
        <h1> Contact Us</h1>
        <p>We are here to help you with any questions at anytime. You can contact us anytime
          if you have any question.
        </p>
        <h1> Not a User?</h1>
        <p>If you are not a user than you can register <a href = "register">here</a>.</p>
      </div>
      <div class = "container" style="height:100%;width:32%;float:left;margin-left:10%;">
        <h3>Email</h3>
        <h5>example@example.com</h5>
        <h3>Phone</h3>
        <h5>0444555666</h5>
        <h3>Fax</h3>
        <h5>0444555666</h5>
        <h3>Chat</h3>
        <h5>Live Chat(Coming soon)</h5>
      </div>
    </div>
    <% include footer.ejs %>
  </body>
</html>
