<div class = "container footerContainer">
  <div class = "container footerContainerAboutAndNavigationBox">
    <div class = "footerContainerAboutAndNavigationBoxLinks">
      Navigate.
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "homepage">Home</a>
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "login">Login</a>
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "register">Register</a>
    </div>
  </div>
  <!--Start of home about container!-->
  <div class = "container footerContainerAboutAndNavigationBox">
    <div class = "footerContainerAboutAndNavigationBoxLinks">
      About
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "about">About Super</a>
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "contactus">Contact Us</a>
    </div>
  </div>
  <div class = "footerContainerImageLinksBox">
  </div>
</div>
