<div class = "container footerContainer">
  <div class = "container footerContainerAboutAndNavigationBox">
    <div class = "footerContainerAboutAndNavigationBoxLinks">
      Navigate.
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "homepage">Home</a>
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "login">Login</a>
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "register">Register</a>
    </div>
  </div>
  <!--Start of home about container!-->
  <div class = "container footerContainerAboutAndNavigationBox">
    <div class = "footerContainerAboutAndNavigationBoxLinks">
      About
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "about">About Super</a>
    </div>
    <div class = "footerContainerAboutAndNavigationBoxLinks footerContainerAboutAndNavigationBoxLinksFontSettings">
      <a href = "contactus">Contact Us</a>
    </div>
  </div>
  <div class = "footerContainerImageLinksBox">
    <div class = "footerContainerImageLinksBoxGameLinkHeading">
      Play Game
    </div>
    <div class = "footerContainerImageLinksBoxGameLinkImage">
      <a href = "gamepage"><img src = "/playgame.png" alt = "Play Game"></a>
    </div>
  </div>
  <div class = "footerContainerImageLinksBox">
    <div class = "footerContainerImageLinksBoxGameLinkHeading">
      Calculator
    </div>
    <!-- Inline css used due to the images differences!-->
    <div class = "footerContainerImageLinksBoxGameLinkImage" style = "width:30%;margin-left:35%;">
      <a href = "calculator"><img src = "/calculator.png" alt = "Play Game"></a>
    </div>
  </div>
