<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = 'gamepage'%>
    <% var active = " active"%>
    <script src = "/Scripts/AddEventListeners.js"></script>
    <script src = "/Scripts/SocketEvents.js"></script>
  </head>
  <body>
    <% include header.ejs %>
    <div id = "GameContent" class = "container containerExtensionForContentArea" style = "background-color:white;">
      <div class = "gameCanvasWrapper">
        <!-- It is important that the dimesnions of the canvas remains same.
          if you want to change the dimensions, you have to change the functions at
          the backend as well..
          Dimensions are 400 x 400 in case if someone changes it..
        !-->
        <canvas id = "canvas" width="400" height = "400"></canvas>
      </div>
      <div class = "gameControllers">
        <div class = "gameControllersInsideBoxes">
            Level<br> <span id  = "level" style = "color:black"></span>
        </div>
        <div class = "gameControllersInsideBoxes">
            Cash<br> <span id = "score" style = "color:black"></span>
        </div>
        <div class = "gameControllersInsideBoxes">
            Moves <br><span id = "moves" style = "color:black"></span>
        </div>
        <div class = "gameControllersInsideBoxes">
            Super <br><span id = "super" style = "color:black"></span>
        </div>
      </div>
      <div class = "gameControllers" style = "height:30px;margin-top:10px;font-size:2em;text-align:center;">
        Progress
      </div>
      <div class = "gameControllers" style = "border-top:solid;margin-top:10px;">
        <canvas height = "60px" width = "380px" id = "progressBar">
        </canvas>
      </div>
      <div class = "gameControllers">
        <div id = "gameTutorialButton" class = "gameTutorialAndAimButton">
          How to Play?
        </div>
        <div id = "aimButton" class = "gameTutorialAndAimButton">
          Aim
        </div>
      </div>
    </div>
    <div id = "SuperInformation" class = "finalStatsWrapper">
      <div class = "levelClearHeading">
        LEVEL CLEAR
      </div>
      <div class = "levelClearHeadingSubHeading">
        Now make a choice
      </div>
      <div class = "superBoxes">
        <div class = "superBoxesHeading">
          No Super
        </div>
        <div class = "superBoxesStats">
          You earned : <span id = "totalScore"></span>
        </div>
        <div class = "superBoxesStats">
          Your Tax : <span id = "noSuperTax"></span>
        </div>
        <div class = "superBoxesStats">
          Contributed Super : 0
        </div>
        <div class = "superBoxesStats">
          Total Super : <span id = "noSuperTotalSuper"></span>
        </div>
        <div class = "superBoxesStats">
          Total Assets : <span id = "noSuperTotalAssets"></span>
        </div>
        <div class = "superBoxesFinalScore" style = "color:orangeRed">
          <div class = "clickHereBox"> Click Here &#x2192</div>
          <div class = "finalScoreBox">
            $<span id = "noSuperTotalScore" style = "cursor:pointer;"></span>
          </div>
        </div>
      </div>
      <div class = "superBoxes">
        <div class = "superBoxesHeading">
          Pay <input id = "superContribution" type = "number" max = "30.5" min = "0" value = "30"> % Super
        </div>
        <div class = "superBoxesStats">
          You earned : <span id = "totalScore2"></span>
        </div>
        <div class = "superBoxesStats">
          Your Tax : <span id = "taxWithSuper"></span>
        </div>
        <div class = "superBoxesStats">
          Contributed Super : <span id = "contributedSuper"></span>
        </div>
        <div class = "superBoxesStats">
          Total Super : <span id = "totalSuperWithSuper"></span>
        </div>
        <div class = "superBoxesStats">
          Total Assets : <span id = "totalAssetsWithSuper"></span>
        </div>
        <div class = "superBoxesFinalScore" style = "color:green">
          <div class = "clickHereBox"> Click Here &#x2192</div>
          <div class = "finalScoreBox">
            $<span id = "totalScoreWithSuper" style = "cursor:pointer;"></span>
          </div>
        </div>
      </div>
    </div>
    <div id = "GameLost" class = "levelLostBox">
      <div class = 'levelLostBoxHeading'>
        OUT OF MOVES!!
      </div>
      <div class = "levelLostTryAgainLink">
        <a href = "/gamePage"><span id = "tryAgainLink">Try again</span></a>
      </div>
    </div>
    <div id = "gameTutorial" class = "gameTutorialDiv" style = "display:none">
      <div class = "gameTutorialNext">
        <span style = "cursor:pointer;" id = "nextTut"> ></span>
      </div>
      <div class = "gameTutorialNext" style = "float:left;text-align:center;">
        <span style = "cursor:pointer;" id = "previousTut"> < </span>
      </div>
      <div id = "currentTut" style = "display:none">1</div>
      <button id = "backToGame" type="button" class="btn-primary">Back To Game</button>
    </div>
    <a href = "/gamepage" id = "refresh" style = "display:none">
    <% include footer.ejs %>
    <!--This images will be used to draw on canvas.
        We are not showing this images that is why the display property is none.
    !-->
    <img style="display:none" id = "balance" src="/balance.png"></img>
    <img style="display:none" id = "cash" src="/cash.png"></img>
    <img style="display:none" id = "cocontribution" src="/cocontribution.png"></img>
    <img style="display:none" id = "conservative" src="/conservative.png"></img>
    <img style="display:none" id = "growth" src="/growth.png"></img>
    <img style="display:none" id = "salarysacrifice" src="/salarysacrifice.png"></img>
    <img style="display:none" id = "empty" src="/empty.png"></img>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/Scripts/AnimationFunctions.js"></script>
  <script src ="/Scripts/CalculationsForClientSide.js"></script>
  <script src = "/Scripts/Sounds.js"></script>
  <script src = "/Scripts/UpdateGameElements.js"></script>
  <script>
      var socket = io.connect();
      /*
        img array will be used to draw the images
        on the canvas.
      */
      var img = [document.getElementById("cash"),document.getElementById("balance"),document.getElementById("cocontribution"),
      document.getElementById("conservative"),document.getElementById("growth"),document.getElementById("salarysacrifice"),
      document.getElementById("empty")];
      //Canvas for the GAME..
      var canvas = document.getElementById("canvas").getContext("2d");
      /*
        Emit the initializeGame event with current user if any..
      */
      socket.emit("initializeGame",{email:"<%=locals.session.email%>"});
      SocketEventsForGamePage();
      AddEventListenersForGamePage();
  </script>
</html>
