<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = 'gamepage'%>
    <% var active = " active"%>
  </head>
  <body>
    <% include header.ejs %>
    <canvas id = "canvas" width="1000" height = "1000" style="border:1px solid #c3c3c3;"></canvas>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
      var socket = io.connect();
      socket.on("Game Initialized",function(data)
      {
        console.log(data.array);
        var array = data.array;
        var canvas = document.getElementById("canvas").getContext("2d");
        for(var i = 0; i < array.length;i++){
          if(array[i] !== null){
            canvas.fillStyle = "white";
            if(i % 2 === 0){
              canvas.fillStyle = "Black";
            }
            canvas.fillRect(array[i].xPosition,array[i].yPosition,array[i].height,array[i].width);
          }
        }

      }
    );
  </script>
</html>
