<div class = "container containerExtensionForContentArea">
  <div class = "container innerContainerOfContentArea">
    <h1 style="font-size:3em;"> Learn while Play</h1>
    <button type="button" class="btn-primary playButton">Play As a Guest</button>
    <button type="button" class="btn-primary playButton">Login</button>
  </div>
  <div class = "container" style="border:solid;width:40%;float:left;height:70%;margin-top:5%;margin-left:
  10%;">
  </div>
</div>
