<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = 'homepage'%>
    <% var active = " active"%>
  </head>
  <body>
    <% include header.ejs %>
    <%if(locals.session.loggedIn){%>
      <% include loggedInHomePageView.ejs %>
    <%}%>
    <% if(!locals.session.loggedIn){%>
      <% include homePageContent.ejs %>
    <%}%>
    <div>
    </div>
  </body>
</html>
