<div class = "container containerExtensionForContentArea">
  <div class = "container innerContainerOfContentArea">
    <h1 style="font-size:3em;"> Learn while Playing interesting Game.</h1>
    <a href = "gamepage">
      <button type="button" class="btn-primary playButton">Play As a Guest &#x2192</button>
    </a>
    <a href = "login">
      <button type="button" class="btn-primary playButton">Login &#x2192</button>
    </a>
  </div>
  <div class = "container contentAreaCircle">
    <div class = "container contentAreaCircleInnerCircle">
      <h2>Play our Investor game to learn more about super.</h2>
    </div>
  </div>
</div>
