<div class = "container containerExtensionForContentArea" style = "color:white;">
  <div class = "welcomeMessageAndStatusBoxWrapper">
    <div class = "loggedInHomePageWelcomeMessage">
      <h1>Welcome, <%= locals.session.name%></h1>
    </div>
    <div class = "arrow"></div>
    <div class = "statusBox">
      <h4>Your Super looks good</h4>
      <p>Your super is pretty good. You can also know more about super here</p>
    </div>
  </div>
  <div class = "avatarImageAndGameStatsWrapper">
    <div class = "loggedInPageAvatarDiv">
      <img src = "/Avatar1.PNG" alt = "Avatar">
    </div>
    <div class = "loggedInStatsBox">
      <div class = "divsOfStatsBox">
        <h3>Level:</h2>
      </div>
      <div class = "divsOfStatsBox">
        <div style="height;100%;border-radius:100%;border:solid;width:20%;text-align:center;">
        <h4>5</h2>
        </div>
      </div>
      <div class = "divsOfStatsBox">
        <h3>Super Balance:</h3>
      </div>
      <div class = "divsOfStatsBox">
        <h4>AU$ : 54</h4>
      </div>
    </div>
    <div class = loggedInPlayGameDiv></div>

  </div>
</div>
