<div class = "container containerExtensionForContentArea" style = "background-color:white;">
  <div class = "welcomeMessageAndStatusBoxWrapper">
    <div class = "loggedInHomePageWelcomeMessage">
      <h1>Welcome, <%= locals.session.name%></h1>
    </div>
    <div class = "arrow"></div>
    <div class = "statusBox">
      <h4>Your Super looks good</h4>
      <p>Your super is pretty good. You can also know more about super here</p>
    </div>
  </div>
  <div class = "avatarImageAndGameStatsWrapper">
    <div class = "loggedInPageAvatarDiv">
      <img src = "/Avatar1.PNG" alt = "Avatar">
    </div>
    <div class = "gameInformationDiv">
      <div class = "gameInformationDivLevelAndSuperBox">
        Level <br><span style = "color:green;"><%=locals.session.level%></span>
      </div>
      <div class = "gameInformationDivLevelAndSuperBox" style = "margin-top:10px;">
        Super <br><span style = "color:green;">$</span><span style = "color:green;"><%=locals.session.super%></span>
      </div>
    </div>
    <div class = "gameInformationDiv" style= "background:url('PlayGameBackground.png');background-size:100%;background-repeat:no-repeat;">
      <a href = "gamepage">
        <button type="button" class="btn-primary playGameButton">Play Game &#x2192</button>
      </a>
    </div>
     <div class = "gameInformationDiv" style= "background:url('CalculatorBackground.png');background-size:100%;background-repeat:no-repeat;">
      <a href = "calculator">
        <button type="button" class="btn-primary playGameButton">Calculator &#x2192</button>
      </a>
    </div>
  </div>
  </div>
</div>
