<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = 'notfound'%>
    <% var active = " active"%>
  </head>
  <body>
    <% include header.ejs %>
    <div class = "container notFoundPage">
      <strong><h1> Something's wrong. We cannot find the page you are looking for.<h1></strong>
    </div>
  </body>
</html>
