<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = 'register'%>
    <% var active = " active"%>
  </head>
  <body>
    <% include header.ejs %>
    <div class = "container containerExtensionForContentArea" style="padding-left:5%;font-size:4em;height:20%;min-height:100px;margin-top:0;color:white;">
      Sign Up for Q-super Website
    </div>
    <div class ="container containerExtensionForContentArea" style="margin-top:0;background-color:white;height:20%;min-height:100px;">
      <h1>Register for Membership Online.</h1>
      <p>Registering is simple. Once you identify yourself, You can choose a unique
      username and password.</p>
    </div>
    <div class ="container containerExtensionForContentArea" style="margin-top:0;background-color:white;height:20%;min-height:100px;">
      <h1>Step 1 Of 2- Provide details</h1>
      <p>Registering is simple. Once you identify yourself, You can choose a unique
      username and password.</p>
    </div>
  </body>
</html>
