<html>
  <head>
    <!-- This ejs statement includes header partial.
    Varibale declaration decides which page is active !-->
    <% include head.ejs %>
    <% var page = 'register'%>
    <% var active = " active"%>
  </head>
  <body>
    <% include header.ejs %>
    <div style = "margin-left: 10%;">
      <div class = "container containerExtensionForContentArea registrationPageContentAreaHeading1">
        Sign Up for Q-super Website
      </div>
      <div class ="container containerExtensionForContentArea registrationPageContentAreaHeading2">
        <h1>Register for Membership Online.</h1>
        <p>Registring is simple. Just fill the information below and choose a Username and Password.</p>
      </div>
      <div class ="container containerExtensionForContentArea registrationPageContentAreaHeading3">
        <h1>Provide details</h1>
        <p>Provide the common information such as your name and choose an email which you will use as
          username to login.
        </p>
      </div>
    </div>
    <% include registrationform.ejs %>
    <% include footer.ejs %>
  </body>
</html>
