/* This is CSS file for Q-Super Project.
@author:Banni
*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Pridi');
body{
  min-width: 800px;
  min-height:1000px;
}
/*Header*/
.headerLogo{
  width:auto;
  height:auto;
  margin-top:-2%;
}
.navbar{
  margin-top: 30px;
}
.navbar-brand{
  color: royalblue;
  font-size: 5em;
}
.nav{
  margin-left:20px;
}
.containerExtensionForNavBar{
  margin-top:20px;
}
/************************End header******************************/
/*Content area*/
.containerExtensionForContentArea{ /*Content area*/
  margin-top:2%;
  width:100%;
  min-height:400px;
  height:70%;
  background-color:#2A9FD8;
}
.innerContainerOfContentArea{ /*Home page*/
  margin-top:10%;
  height:50%;
  width:40%;
  margin-left:2%;
  min-width:200px;
  color:white;
  float:left;
  font-family:arial;
}
.contentAreaCircle{
  width:40%;
  margin-left:10%;
  float:left;
  height:80%;
  margin-top:5%;
  border-radius:50%;
  background-color:white;
}
.contentAreaCircleInnerCircle{
  width:70%;
  color:#2A9FD8;
  margin-left:20%;
  float:left;
  height:50%;
  margin-top:20%;
  background-color:white;
}
.playButton{
  color:white;
  background-color: white;
  color:#2A9FD8;
  padding:8px 8px;
  font-family: inherit;
  border:none;
  font-size: 1.2em;
}
.playButton:hover{
  text-decoration: underline;
  background-color: white;
  color:#2A9FD8;
}
/*End content area*//* End home area*/
.notFoundPage{ /*Not found page*/
  height:100%;
  background-image:url('http://3.bp.blogspot.com/-_d6Vx1hSOGY/VTQCdEej5iI/AAAAAAAAATM/Fu5aBKq3U_Y/s1600/404.png');
  background-size:cover;
}
/*About page*/
.aboutContentAreaContainer{
  width:50%;
  height:20%;
  color:#2A9FD8;
  margin-left:10%;
  margin-top:5%;
  border-bottom: solid;
  border-width:1px;
}
.aboutContentAreaContainer p{
  color:black;
  font-size:1em;
  line-height: 2;
}

/*Gradient Background*/
.linearGradient{
  background:linear-gradient(to left,#2A9FD8,white);
}

/*Login page*/
.loginBox{
  height:100%;width:50%;
  margin-left:0;
}

.loginBoxTitleSmallCharacters{
  margin-top:10%;
  font-size:1.5em;
  width:40%;
  height:10%;
  margin-left:0;
}

.loginBoxTitleBigCharacters{
  width:70%;
  height:20%;
  margin-top:-5%;
  margin-left:0;
}

.loginPageUserNameInputBox{
  width:30%;
  height:80%;
  border-radius:0;
  float:left;
}

.loginPagePasswordInputBox{
  margin-left:2%;
  border-radius:0;
  width:30%;
  height:80%;
  float:left;
}

.loginPageSubmitButton{
  border:none;
  height:80%;
  width:30%;
  margin-left:10px;
}

.loginPageBottomRegisterationLink{
  width:30%;
  height:5%;
  margin-top:20%;
  margin-left:0;
  min-width:300px;
}

.loginPageBottomRegisterationLink2{
  width:30%;
  height:5%;
  margin-left:0;
  cursor:pointer;
}
